.tituloInformacoes {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.quadroInfo {
    border-style: outset;
}

.divCampo {
    font-weight: bold;
}

.quadroPlacar {
    margin-top: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: outset;
}

.linhaBotoes {
    margin-top: 10px;
}